services:
  app:
    build:
      args:
        VARIANT: 3.13-bookworm
      context: ..
      dockerfile: .devcontainer/Dockerfile
    command: sleep infinity
    user: vscode
    volumes:
    - ../:/workspace:cached
    - lovlig_extensions:/home/vscode/.vscode-server/extensions
    - lovlig_commandhistory:/home/vscode/commandhistory
    - lovlig_cache:/home/vscode/.cache
    - /workspace/.venv
version: '3.8'
volumes:
  lovlig_cache: null
  lovlig_commandhistory: null
  lovlig_extensions: null
